@tailwind base;
@tailwind components;
@tailwind utilities;

/* analyzed */
body {
  background-image: url('/bg-tablet-pattern.svg');
  background-size: 900px;
  background-position: 70% -40%;
}

#cta {
  background-image: url('/bg-simplify-section-desktop.svg');
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  /* analyzed */
  body {
    background-position: 50px -50px;
    background-size: 500px;
  }

  #cta {
    background-image: url('/bg-simplify-section-mobile.svg');
  }
}

/* Hamburger Menu */
/* analyzed */
.hamburger {
  top: 9px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.15s;
  position: relative;
}

/* analyzed */
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

/* The below class names are for toggling between hamburger and cross */
.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}
